



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 12px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}


label {
      margin-bottom: 5px;
  font-size :11px;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}


/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  
}

.wrap-contact100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

}

/*==================================================================
[ Contact more ]*/
.contact100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
  background-color: lightgray;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}



/*==================================================================
[ Form ]*/

.contact100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  padding: -1px 7px 55px 11px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  padding-bottom: 0px;
}
.contact102-form-title {
    width: 100%;
    display: block;
    font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
    font-size: 30px;
    text-align: center;
    color: #333333;
    line-height: 3.2;
    padding-bottom: 0px;
}
.btn-social-login {
    margin-bottom: 10px;
    position: relative;
}
.btn-social-login--facebook .btn {
    background-color: #5a71ad;
    color: #fff;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  margin-bottom: 1px;
  background-color: #f2f2f2;
}
.wrap-input101 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  margin-bottom: 1px;
  background-color: #4c555d;
}
.wrap-input103 {
  width: 70%;
  position: relative;
  border: 1px solid #e6e6e6;
  margin :auto;
  border-radius: 0px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}
.wrap-input104 {
  width: 84%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0px;
  margin-bottom: 1px;
  margin: auto;
  background-color: #ffffff;
}
.wrap-input105 {
  width: 100%;
  position: relative;
  border-radius: 0px;
  background-color: #ffffff;
}
.label-input100 {
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
  font-size: 20px;
  color: #4c555d;
  line-height: 1.2;
  padding: 5px 0 2px 24px;
  line-height: 2;
  font-weight: 600;
  margin: 0;
}
.label-input101 {
  font-family:  jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
  font-size: 20px;
  color: #f2f2f2;
  line-height: 1.2;
  padding: 15px 0 2px 24px;
  line-height: 2;
  font-weight: 600;
  margin: 0;
}
.label-input103 {
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
  font-size: 20px;
  color: #007bff;
  line-height: 1.2;
  padding: 15px 0 2px 24px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
}
.label-input104 {
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
  font-size: 20px;
  color: #007bff;
  line-height: 1.2;
  height:-webkit-fill-available;
  padding: 15px 0 2px 24px;
  line-height: 1;
  font-weight: 600;
  margin: auto;
  margin-bottom:-322px;
}
.label-input105 {
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;;
  font-size: 20px;
  color: #4c555d;
  line-height: 1.2;
  padding: 5px 0 2px 24px;
  font-weight: 600;
  margin: 0;
}
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 48px;
}

textarea.input100 {
  min-height: 130px;
  padding-top: 14px;
  padding-bottom: 15px;
}
.text--center {
    text-align: center;
}
.text-hr {
    display: block;
    font-size: 18px;
    margin: 5px 0;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0 20px;
  width:100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact101-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0 25px;
  height: 35px;
  border-radius: 10px;
  margin-top: -21px;
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #3498db;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact102-form-btn {
  display: -webkit-box;
  width: 70%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20px;
  height: 50px;
  background: #5a71ad;

  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact103-form-btn {
  display: -webkit-box;
  width: 70%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20px;
  height: 50px;
  background: #f8f9fa;
    margin-bottom: 2px;
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #212529;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
 
}
.contact104-form-btn {
 display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0px;
  border-radius: 10px;
  margin-bottom: -40px;
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #3498db;
  line-height: 3.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact106-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 0 85px;
  height: 35px;
  border-radius: 10px;
  margin-top: -21px;
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #3498db;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact107-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0 88px;
  height: 35px;
  border-radius: 10px;
  margin-top: -37px;
  font-family: jaf-bernino-sans-condensed,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #3498db;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-form-btn:hover {
  background: #404b46;
}

.icon {
    background-size: 34px;
    background-image: url(https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png);
    border-color: #6881c2;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 50%;
    padding: 110px 30px 55px 30px;
  }

  .contact100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 110px 15px 55px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
[ Social ]*/
.contact100-form-social {
  padding-top: 100px;
}

.contact100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.contact100-form-social-item:hover {
  background: #404b46;
  color: #fff;
}


/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 25px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
  padding-left: 26px;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: 100%;
  top: 45%;
  transform: translateY(-50%);
  right: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-top-color: #ddd;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-bottom-color: #404b46;
}



/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  width: calc(100% + 2px);
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  left: -2px;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {top: -34px;}
.select2-dropdown--below {top: 2px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 26px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #6675df;
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #6675df;
  color: white;
}

.select2-results__options {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
}

.wrap-input100 .dropDownSelect2 .select2-container--open {
  width: 100% !important;
}

.wrap-input100 .dropDownSelect2 .select2-dropdown {
  width: calc(100% + 2px) !important;
}
.form-group {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	    position: relative;

}

.col--1 {
    margin-right: 2.35765%;
    width: 6.17215%;
}
.col--11:last-child, .col--last {
    margin-right: 0;
	width: 78.4702%;
}
.row1 {
    display: -ms-flexbox;
    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: 70px;
}
.text--terms {
    font-size: 11px;
    margin: 30px 0 -20px;
}
.menus-actions {
    width: 100%;
	margin-left: -40px;
}
.menus-actions__btns {
    text-align: right;
}
.order-ahead__days {
    border-bottom: 1px solid #dadada;
    height: 130px;
    left: 0;
    position: absolute;
    padding: 5px 30px;
    width: 100%;
    top: 0;
    z-index: 5;
}
.order-ahead__header {
    border-bottom: 1px solid #e9e8eb;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 16px;
}
.order-ahead__close {
    float: right;
}
.order-ahead__close .ss-gizmo {
    position: relative;
    top: 2px;
	margin-left: -20px;
}
.day-picker>li {
    display: block;
    float: left;
    width: 14.195%;
}
.day-picker a {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #4c555d;
    display: block;
    text-align: center;
    padding: 10px 2px;
}
.day-picker__day-word {
    font-size: 14px;
    display: block;
    font-weight: 600;
    width: 100%;
}
.day-picker__day-number {
    font-size: 26px;
    line-height: 1;
}
.order-ahead__times {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 0px 20px;
}
.order-ahead__times .no-times {
    font-size: 20px;
    left: 0;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.time-picker>ul>li {
    display: block;
    font-size: 18px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
}
.time-picker__methods {
    display: none;
    right: 30px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
}
.time-picker {
    background: #fff;
    height: 100%;
}
.order-ahead {
    height: 100%;
    overflow-y: auto;
    padding: 130px 0 0!important;
}
.order-ahead__times .time-picker {
    margin: -2px -20px;
    position: relative;
	margin-bottom: -2080px;
}
.spinner-overlay {
    background: rgba(255,255,255,.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
}
.spinner.spinner--absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}
.btn-social-login--facebook .icon {
    background-size: 34px;
    background-image: url(https://cf.chownowcdn.com/ordering-web/assets/images/iconFb-ad8902f….svg);
    border-color: #6881c2;
}
.btn-social-login .icon {
    background-size: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    border-right: 1px solid;
    height: 48px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 53px;
}
.ss-user.right:after, .ss-user:before {
    content: '👤';
	
}
:before {
    font-family: SSGizmo;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.menus-actions__btns>li {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}
.menus-actions a {
    font-size: 14px;
}
a {
    color: #3498db;
}
.menus-actions .divider {
    color: #e9e8eb;
    font-size: 23px;
    font-weight: 100;
}
.ss-expand:before {
    content: '⤢';
}
.ss-icon, .ss-icon.ss-gizmo, [class*=" ss-"].right:after, [class*=" ss-"].ss-gizmo.right:after, [class*=" ss-"].ss-gizmo:before, [class*=" ss-"]:before, [class^=ss-].right:after, [class^=ss-].ss-gizmo.right:after, [class^=ss-].ss-gizmo:before, [class^=ss-]:before {
    font-family: SSGizmo;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.ss-contract:before {
    content: '';
}
.ss-icon, .ss-icon.ss-gizmo, [class*=" ss-"].right:after, [class*=" ss-"].ss-gizmo.right:after, [class*=" ss-"].ss-gizmo:before, [class*=" ss-"]:before, [class^=ss-].right:after, [class^=ss-].ss-gizmo.right:after, [class^=ss-].ss-gizmo:before, [class^=ss-]:before {
    font-family: SSGizmo;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.ss-navigateleft:before {
    content: '<';
}
.ss-icon, .ss-icon.ss-gizmo, [class*=" ss-"].right:after, [class*=" ss-"].ss-gizmo.right:after, [class*=" ss-"].ss-gizmo:before, [class*=" ss-"]:before, [class^=ss-].right:after, [class^=ss-].ss-gizmo.right:after, [class^=ss-].ss-gizmo:before, [class^=ss-]:before {
    font-family: SSGizmo;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.cn-logo
{
  width: 150px;
  height: 50px;
  margin-bottom: -12px;
}